<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DiscordToken" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <DiscordToken>
    <add key="token" value="MjM4MDI0NTA2NTk2MTMwODE2.CugOVw.ILrc2JwuEHGqcPrEROG5eAQBqOM"/>
  </DiscordToken>
</configuration>