<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Environment" value="Debug" />
    <add key="lolToken" value="RGAPI-c3aa87d0-72a5-432c-9d14-f696cc08a031"/>
    <add key="discordToken" value="MjM4MDI0NTA2NTk2MTMwODE2.C5GzOw.tb5HGso5fkNMqVbvIfzrGXXJaWA"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>